body{
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.title{
  /*Site Headings*/
  font-family: 'Georgia', Times, Times New Roman, serif;
}
#main{
  background-image: url(../images/regal.png);
}
#about{
	margin-top: 25px;
}
#the-middle{
  padding: 30px;
  width: 960px;
  margin-bottom: 60px;
}
#the-middle::after {
  content: "";
  display: table;
  clear: both;
}
.center{
	text-align: center;
}
#content{
  padding: 30px;
	width: 590px;
	border: 1px solid #dddddd;
	background-color: #ffffff;
  float: left;
}
.bland{
  text-decoration: none;
}
.icon{
	width: 65px;
	height: 65px;
	margin-top: 10px;
}
#sidebar{
  margin-left: 20px;
  padding: 20px;
	width: 270px;
	border: 1px solid #dddddd;
	background-color: #ffffff;
 	height: 180px;
  float:right;
}
.bar{
	min-height: 10px;
  clear: left;
}
.bottom{
  	max-width: 400px;
  	margin-top: 35px;
}
#header{
	background-color: #ffffff;
	border-bottom: 1px solid #cccccc;
	font-family: 'Georgia', Times, Times New Roman, serif;
}
.gray-line{
  	padding-bottom: 20px;
  	border-bottom: 2px solid #cccccc;
}
#footer{
  border-top: 10px solid #4aaaa5;
  position: fixed;
  bottom: 0;
  z-index:1;
  width: 100%;
	text-align: center;
	padding: 30px;
	background-color: #666666;
	color: white !important;
}
#my-name{
    width: 300px;
    padding: 20px;
}
.from-top{
	margin-top: 10px;
}
.teal{
	background-color: #4aaaa5;
	color: white !important ;
}
.regular{
  	color: #777777;
}
.teal-text{
  font-weight: bold;
	color: #4aaaa5;
}

/* About Styles */ 

#my-face{
  height: 150px;
  width: 150px;
  float: left;
  margin-right: 20px;
}

#quote{
  margin-bottom: 20px;
}

/* Form Styles */

input{
  	width: 100%;
}
textarea{
  	width: 100%;
  	height: 250px;
}
h5{
  	padding: 5px;
  	padding-top: 15px;
  	padding-left: 0px;
  	padding-bottom: 0px;
}
button{
  border-radius: 0;
 	padding: 10px;
	padding-left: 35px;
  padding-right: 35px;
}

.padder{
	min-height: 20px;
}

/* Portfolio Styles */

.spacer{
  /* Spaces the middle row */
  margin-top: 45px;
  margin-bottom: 45px;
}

.project{
  /*Each project*/
  height: 180px;
  width: 250px;
}

.obi{
  /* Strip over each project */
  position: absolute;
  width: 250px;
  padding-top: 16px;
  padding-bottom: 8px;
  z-index: 1;
  margin-top: -65px;
}